/*****************************************************************************
 * benefits (Why Choose)
 *
 *  Section detailing benefits.
 *
 *****************************************************************************/

/**
  * benefits
  * 
  *   Benefits section
  */
.benefits {
  background-color: var(--theme-bg-400);
  padding-block: 4rem;
}

.benefits .text--body-1 {
  margin-top: 1rem;
}
/**
 * benefits__cards
 */
.benefits__cards {
  display: grid;
  gap: 2rem;

  margin-top: 4.5rem;
}

/**
 * benefits__card
 */
.benefits__card {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

/**
 * benefits__card-img
 */
.benefits__card-img {
  width: 72px;
  height: 72px;
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include media-breakpoint("tablet") {
  .benefits {
    padding-block: pxToRem(96px);
  }
  .benefits__cards {
    grid-auto-flow: column;
  }
  .benefits__card {
    justify-items: left;
    gap: 1.5rem;
  }
  .benefits__card .text--body-3 {
    text-align: left;
  }
  .benefits__card-img {
    margin-bottom: 1rem;
  }
}
