/*****************************************************************************
 * footer
 *
 *  common footer definition for all pages in site.
 *
 *****************************************************************************/

@use "sass:math";

/**
 * .footer
 *
 *  used on the <footer> element to set outer box properties.
 */
.footer {
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 2rem;

  padding-block: 3rem;
  padding-inline: max(
    $container-margin,
    calc(50vw - math.div($container-max-width, 2))
  );

  color: var(--theme-txt-100);
  background-color: var(--theme-bg-900);
}

.footer__region {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
}
.footer__region-1 {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
}

.footer nav {
  text-align: center;
}

.footer li + li {
  margin-top: 0.5rem;
}

.footer a:hover {
  color: var(--theme-hover-highlight);
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include media-breakpoint("tablet") {
  /**
   * note: don't know what this is doing here, need to move it
   */
  :root {
    --container-margin: 2.5rem;
  }

  /**
   * .footer
   *
   *  on tablet change to a horizontal row rather than mobile column.
   */
  .footer {
    grid-auto-flow: column;
    gap: 4rem;
    justify-content: space-between;

    padding-block: 3.5rem;
  }

  .footer__region {
    align-content: space-between;
  }
  .footer__region-1 {
    align-content: space-between;
    justify-items: flex-start;
  }
  .footer__region-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
    text-align: left;
    column-gap: 6rem;
    row-gap: 1rem;
  }
  .footer li + li {
    margin: 0;
  }
  /**
   * .footer__text
   *
   *  limit the paragraph width for better readability.
   */
  .footer__text {
    width: 25ch;
  }
}

/*----------------------------------------------------------------------------
  Desktop breakpoint
 ----------------------------------------------------------------------------*/
@include media-breakpoint("desktop") {
  // No content
}
