/*****************************************************************************
  .menu

    The menu provides a responsive menu with mobile/tablet/desktop breakpoints.
    When collapsed a hamburger menu is shown on right.

    Expanded styling is controlled with the following accessory classes:
    .menu--full          - the mobile menu covers the entire screen when opened
    .menu--full-top      - the mobile menu covers the entire top left to right
    .menu--full-right    - the mobile menu is full height on the right
    .menu--inset         - the mobile menu is inset below the menu bar

    .menu__logo a        - provides an embedded logo (optional)
    .menu__toggle button - provides the mobile hamburger menu button
    .menu__overlay div   - is required to cover the underlying content
    .menu__options ul    - provides the list of menu options
    .menu__break         - provides a visible separator/gap to group menus
 *****************************************************************************/

/**
  * menu
  */
.menu {
  --menu-gap: 2rem;
  --menu-bar-height: 4rem;
  --menu-vertical-gap: 1.5rem;
  --menu-padding-block: 1.5rem;
  --menu-padding-inline: 1.5rem;

  --menu-background-color: var(--theme-menu-background);
  --menu-popup-color: var(--theme-menu-popup-color);
  --menu-popup-background-color: var(--theme-menu-popup-background);
  --menu-color: var(--theme-menu-text);
  --menu-hover-color: var(--theme-menu-text-highlight);
  --menu-overlay-color: var(--theme-menu-overlay);

  position: absolute;
  width: 100%;
  height: var(--menu-bar-height);
  display: flex;
  z-index: 3;
  align-items: center;
  gap: var(--menu-gap);

  padding-block: var(--menu-padding-block);
  padding-inline: max($container-margin, calc(50vw - $container-max-width / 2));

  background-color: var(--menu-background-color);
}
.menu nav {
  z-index: 100;
  background-color: var(--menu-background-color);
}

/**
 * menu__modal
 *
 *  this class is added to document.body in order to stop scrolling when the
 *  mobile menu is toggled open.
 */
.menu__modal {
  overflow: hidden;
}

/**
 * menu__overlay
 *
 *  the menu overlay is used for translucent or opaque backgrounds behind the
 *  mobile menu.  A div with this class is added before the ul in the nav
 *  and its visibility is toggled when the mobile menu is open.
 */
.menu__overlay {
  display: none;
  height: 100vh;
  z-index: 3;
}

/**
 * swap hamburger and X when menu toggles open/closed
 */
.menu__toggle[aria-expanded="true"] .icon--hamburger {
  display: none;
}
.menu__toggle:not([aria-expanded="true"]) .icon--close {
  display: none;
}

.menu__toggle[aria-expanded="true"] ~ .menu__overlay {
  position: absolute;
  display: block;
  inset: 0;
  top: var(--menu-bar-height);
  z-index: 3;

  background: var(--menu-overlay-color);
}

/**
 * menu__toggle
 *
 *  The menu__toggle is attached to a button that receives aria-expanded when
 *  the mobile menu is open.  The button also operates the menu and usually
 *  has the hamburger menu icon attached.
 */
.menu__toggle {
  margin-left: auto;
  border: 0;

  background-color: transparent;
}
.menu__toggle:hover {
  --menu-color: white;
}

.menu__options {
  position: absolute;
  z-index: 3;
  display: none;
  align-content: flex-start;
  align-items: center;
  gap: var(--menu-vertical-gap);

  background-color: var(--menu-background-color);
}
.menu__options li {
  width: fit-content;
}
.menu__toggle[aria-expanded="true"] ~ .menu__options {
  display: grid;
}

.menu--full-right .menu__toggle[aria-expanded="true"] ~ .menu__options {
  top: 0;
  right: 0;
  bottom: 0;

  padding: 4rem;
}
.menu--full-top .menu__toggle[aria-expanded="true"] ~ .menu__options {
  grid-auto-flow: column;

  top: 0;
  left: 0;
  right: 0;

  padding-block: 3rem;
  padding-inline: 1.625rem;

  background-color: var(--menu-popup-background-color);
}
.menu--full .menu__toggle[aria-expanded="true"] ~ .menu__options {
  inset: 0;
}
.menu--inset .menu__toggle[aria-expanded="true"] ~ .menu__options {
  top: 5.5rem;
  left: 1.5rem;
  right: 1.5rem;

  padding: 2rem;

  justify-items: center;
}
.menu a {
  font-family: var(--ff-base);
  font-size: 1rem;
  color: var(--menu-popup-color, black);

  text-transform: capitalize;
  text-decoration: none;
  user-select: none;
}
.menu a:hover {
  color: var(--menu-hover-color);
}
.menu__logo {
  font-size: 1.5rem;
  font-weight: bold;

  user-select: none;
  cursor: pointer;
}
.menu__break {
  // no content
}

/* Mobile-only */
@include media-breakpoint-max("tablet") {
  .menu__hide-on-mobile {
    display: none;
  }
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include media-breakpoint("tablet") {
  .menu {
    --menu-popup-color: var(--menu-popup-color);
  }
  .menu__options {
    position: relative;
    top: auto;
    right: auto;
    z-index: 0;
    display: flex;
    gap: var(--menu-gap);

    width: 100%;
    padding: 0;
  }
  .menu__toggle {
    display: none;
  }
  .menu__label {
    display: none;
  }
  .menu__break {
    margin-left: auto;
    padding-top: 0;
    border-top: none;
  }
  .menu__options li {
    width: fit-content;
  }
  .menu__options a {
    border-bottom: 4px solid transparent;
    padding-bottom: 19px;
  }
  .menu__options a:hover {
    border-color: var(--theme-menu-accent);
    transition: 250ms ease-in-out;
  }
}
