/*****************************************************************************
 * fonts
 *
 *  Font definitions used throughout the site.  Note that fonts files are
 *  located in assets/fonts.
 *
 *****************************************************************************/

/**
 * Inter Regular, fixed-weight font
 */
@font-face {
  font-family: $font-base;
  font-style: normal;
  font-weight: $fw-regular;
  src: local($font-base),
    url("/assets/fonts/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}

/**
 * Inter Bold, fixed-weight font
 */
@font-face {
  font-family: $font-base;
  font-style: normal;
  font-weight: $fw-bold;
  src: local($font-base), url("/assets/fonts/Inter-Bold.ttf") format("truetype");
  font-display: swap;
}
