/*****************************************************************************
 * typography
 *
 *  Type hierarchy for the site.
 *
 *****************************************************************************/

/*---------------------------------------------------------------------------
 * Default and mobile typography
 *--------------------------------------------------------------------------*/

/**
 * Hero Section Title - Next generation digital banking
 */
.heading--1 {
  font-family: $ff-base;
  font-weight: $fw-regular;
  font-size: 2.5rem;
  line-height: 1.175;
  text-align: center;
  letter-spacing: -0.714286px;
}
